<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Prueba Embbed</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

        <link rel="stylesheet" href="https://s3.amazonaws.com/gobcl-prod/public_files/Campa%C3%B1as/Corona-Virus/css/style.css">

        <link rel="stylesheet" href="https://s3.amazonaws.com/gobcl-prod/public_files/Campa%C3%B1as/Corona-Virus/css/paso-a-paso.css">
    </head>
    <body>
        
        <div class="tab-pane fade show active" id="pasoapaso" role="tabpanel" aria-labelledby="pasoapaso-tab">
            <img src="https://s3.amazonaws.com/gobcl-prod/public_files/Campa%C3%B1as/Corona-Virus/Iconos/Plan-de-Desconfinamiento/banner-pasoapaso.png" alt="plan desconfinamiento" class="img-fluid">
            <br> 
            <p class="h4 text-left mb-4 mt-3"><b></b></p>
            <div class="bg-light-blue p-3">
                <p class="text-center text-primary h3"><b>PASO A PASO, NOS CUIDAMOS</b></p>
                <p>El Plan Paso a Paso es una <b>estrategia gradual para enfrentar la pandemia según la situación sanitaria de cada zona en particular</b>. Se trata de <b>5 escenarios o pasos graduales</b>, que van desde la Cuarentena hasta la Apertura Avanzada, con restricciones y obligaciones específicas. El <b>avance o retroceso de un paso particular a otro está sujeta a indicadores epidemiológicos, red asistencial y trazabilidad</b>.</p>
                <br>
            </div>
            <br><br>
            <div class="accordion row">
                <!-- Accordion paso 1 -->
                <button class="accordion accordion-button paso1-bg" type='button' data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <div class="children">
                        <div class="paso paso1"> 
                            <span><small> Paso </small></span>
                            <span class="numero">1</span>
                        </div>
                        <h3 class="accordion-title">Cuarentena</h3>
                    </div>
                </button>
                <div class="panel">
                    <div class="bg-gradient-1">
                        <h4 class="title">¿QUÉ ESTÁ PROHIBIDO EN MI COMUNA?</h4>
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <p>Las clases presenciales de establecimientos de educación escolar y parvularia.</p>
                                <p>El traslado a residencia no habitual y a otras regiones.</p>
                                <p>La realización y participación de reuniones sociales en residencias particulares y en eventos y reuniones de todo tipo.</p>
                                <p>La realización de oficios, ritos y ceremonias (excepción de funerales).</p>
                                <p>La atención de público en restaurantes y cafés.</p>
                                <p>La venta presencial en supermercados de artículos no esenciales: de decoración de hogar, electrodomésticos (incluido televisores y videojuegos), línea blanca, juguetería, vestuario, libros y artículos de librería, y artículos deportivos.</p>
                            </div>
                            <div class="col-12 col-lg-6">
                                <p>Las actividades con público, y con ellos el funcionamiento de cines, teatros y análogos.</p>
                                <p>El funcionamiento de pubs, discotecas y lugares análogos.</p>
                              <p>La realización de actividad deportiva que requiera salir de la casa fuera de la banda horaria de 07 a 08:30 hrs o con el debido permiso temporal.</p>
                                <p>El funcionamiento de gimnasios y establecimientos deportivos abiertos al público.</p>
                                <p>La salida de residentes de ELEAM.</p>
                                <p>Las visitas a Centros SENAME y ELEAMs.</p>
                                <p>El funcionamiento de Clubes de Adulto Mayores y Centros de día.</p>
                            </div>
                        </div>
                    </div>
                    <div class="degradado-comun">
                    <h4 class="title">¿QUÉ PUEDO HACER?</h4>
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <p>Debes quedarte en casa, y solo puedes salir a hacer compras o trámites puntuales y esenciales con un permiso individual que puedes obtener en <a href="https://comisariavirtual.cl/" target="_blank" rel="noopener noreferrer">comisariavirtual.cl</a> (dos a la semana).</p>
                                <p>Debes <b>respetar el toque de queda</b>, que implica que no puedes salir entre las 22:00 y las 05:00 horas salvo que tengas un salvoconducto por emergencia médica o el fallecimiento de un familiar directo.</p>
                                <p>Puedes ir a trabajar si es que trabajas en algún <b>servicio esencial</b>, que no puede ser realizado de forma remota, y tienes un permiso de desplazamiento colectivo o un permiso único colectivo.</p>
                                <p>Realizar actividades al aire libre (deporte, paseo) todos los días, pero sólo de <b>07:00 a 08:30 horas</b>, sin necesidad de permiso. Sólo actividades individuales o con personas de la misma residencia, y sin usar auto o transporte público. En este horario no se puede realizar actividades que requieren permiso.</p>
                            </div>
                            <div class="col-12 col-lg-6">
                                <p>Si eres <b>mayor de 75 años</b>, los días lunes, jueves y sábado podrás salir a pasear una vez al día, por 60 minutos, entre las 10:00 y las 12:00 horas o entre las 16:00 y las 18:00 horas.</p>
                                <p>Residentes de Centros SENAME pueden salir a realizar actividades al aire libre en la banda horaria de 07:00 a 08:30 horas, con autorización y supervisión. También se permiten visitas de vínculos significativos.</p>
                                <p>Cada vez que salgas, con la autorización correspondiente, debes usar <b>mascarilla</b>, mantener la <b>distancia física</b> y recordar medidas como <b>lavado de manos</b> o uso de alcohol gel.</p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white">
                        <h4 class="title">¿QUÉ PUEDE FUNCIONAR EN MI COMUNA?</h4>
                        <div class="row">
                            <div class="col-12">
                                <p>Centros de salud y establecimientos de servicio público establecidos.</p>
                                <p>Comercio con venta presencial sólo de bienes esenciales.</p>
                                <p>Despacho a domicilio de todo tipo de bienes.</p>
                                <p>Todo lo que funcione, debe ser siguiendo los protocolos establecidos.</p>                                           
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Accordion paso 2 -->
                <button class="accordion paso2-bg">
                    <div class="children">
                        <div class="paso paso2"> 
                            <span><small> Paso </small></span>
                            <span class="numero">2</span>
                        </div>
                        <h3 class="accordion-title title-paso2">Transición</h3>
                    </div>
                </button>
                <div class="panel">
                    <div class="bg-gradient-2">
                        <h4 class="title">¿QUÉ ESTÁ PROHIBIDO EN MI COMUNA?</h4>
                        <div class="row">
                            <div class="col-12 col-lg-6">  
                                <p>Las reuniones en residencias particulares de más de 5 personas y cualquier evento o reunión durante el horario de toque de queda, o los sábados, domingos y festivos.</p>
                                <p>Las actividades con público con más asistentes de lo permitido o sin cumplir las condiciones requeridas según el tipo. </p>
                                <p>La atención de público en restaurantes o cafés en espacios cerrados.</p>
                                <p>La venta y consumo de alimentos en lugares cerrados de centros comerciales.</p>
                            </div>
                            <div class="col-12 col-lg-6">
                                <p>El funcionamiento de Clubes de Adultos Mayores y Centros de día de Adultos Mayores.</p>
                                <p>El funcionamiento de pubs, discotecas y lugares análogos.</p>
                                <p>El traslado a residencia no habitual y a otras regiones, excepto en posesión del Permiso (único) de Vacaciones.</p>
                            </div>

                        </div>
       
                    </div>
                    <div class="degradado-comun">
                    <h4 class="title">¿QUÉ PUEDO HACER?</h4>
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <p>Todos, incluidos los mayores de 75 años, pueden salir, pero no ir a lugares en cuarentena. </p>
                                <p>Debes <b>quedarte en casa los fines de semana y los feriados</b>, días en que solo podrás salir con un permiso individual que puedes obtener en comisariavirtual.cl (un permiso a la semana).</p>
                                <p>Debes <b>respetar el toque de queda</b>, que implica que no puedes salir entre las 22:00 y las 05:00 horas salvo que tengas un salvoconducto por emergencia médica o funeral.</p>
                                <p><b>Puedes ir a trabajar si es que trabajas en un lugar que no esté en cuarentena</b>, a no ser que sea servicio esencial, y tengas un permiso de desplazamiento colectivo o un permiso único colectivo.</p>
                                <p>Asistir a actividades presenciales de educación escolar y media, si la comuna retrocede de Paso 3, pero no si avanza de Paso 1 (Cuarentena).</p>
                                <p>Asistir a restaurantes, sólo en terrazas o espacios al aire libre y en grupos de máximo 4 personas.</p>
                                <p>Realizar actividad deportiva. De lunes a viernes, sólo en lugares al aire libre y en grupos de máximo 10 personas, sin utilizar máquinas o implementos compartidos. Los fines de semana y festivos, sólo en la banda horaria de 07 a 08:30 hrs., y sin usar auto o transporte público.</p>
                            </div>
                            <div class="col-12 col-lg-6">
                                <p>Tener reuniones sociales en residencias particulares o lugares públicos abiertos, con máximo 5 personas en total, y sólo de lunes a viernes.</p>
                                <p> Intenta no tener reuniones con más de un mismo grupo a la semana.</p>
                                <p>Participar en eventos o actividades con público: si la actividad es con ubicación fija de los asistentes y sin consumo de alimentos, pueden ser hasta 20 personas en lugares al aire libre y 10 personas en lugares cerrados, sólo de lunes a viernes. Si la misma actividad considera consumo de alimentos, sólo pueden ser 10 personas al aire libre. Estas actividades no pueden ser en residencias particulares.</p>
                                <p>Residentes de Centros SENAME pueden salir hasta 3 veces a la semana, con autorización y supervisión. También se permiten visitas de vínculos significativos. Los fines de semana pueden salir a realizar actividades al aire libre en la banda horaria de 07:00 a 08:30 horas, con autorización y supervisión.</p>
                                <p>Residentes de ELEAM pueden salir a caminar todos los días por máximo 2 horas, y pueden recibir visita de 2 personas, 2 veces a la semana.</p>
                                <p>Puedes salir de vacaciones con el Permiso de Vacaciones, dispuesto en Comisaría Virtual. Se puede obtener una única vez por cada persona y estará disponible hasta el 31 de marzo para ir a comunas en Paso 2, 3 o 4, teniendo que permanecer en el mismo destino durante toda la estadía.</p>
                                <p>Cada vez que salgas, con la autorización correspondiente, debes usar <b>mascarilla</b>, mantener la <b>distancia física</b> y recordar medidas como <b>lavado de manos</b> o uso de alcohol gel.</p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white">
                        <h4 class="title">¿QUÉ PUEDE FUNCIONAR EN MI COMUNA?</h4>
                        <div class="row">
                            <div class="col-12">
                                <p>Farmacias, supermercados y otros lugares de abastecimiento de alimentos y productos básicos, centros de salud y establecimientos de servicio público. </p>
                                <p>Comercio y otras actividades no esenciales que puedan funcionar con trabajadores que vivan en una comuna en Transición o sin cuarentena.</p>
                                <p>Jardines infantiles y salas cuna. Los establecimientos de educación si la comuna retrocede de Paso 3.</p>
                                <p>Atención de público en restaurantes sólo en espacios abiertos, con 2m. lineales entre mesas (bordes) y sin música.</p>
                                <p>Actividades con público, respetando los aforos máximos y las condiciones de acuerdo al tipo de evento.</p>
                                <p>Todo lo que funcione, debe ser siguiendo los protocolos establecidos. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Accordion paso 3 -->
                <button class="accordion paso3-bg">
                    <div class="children">
                        <div class="paso paso3"> 
                            <span><small> Paso </small></span>
                            <span class="numero">3</span>
                        </div>
                        <h3 class="accordion-title title-paso3">Preparación</h3>
                    </div>
                </button>
                <div class="panel">
                    <div class="bg-gradient-3">
                        <h4 class="title">¿QUÉ ESTÁ PROHIBIDO EN MI COMUNA?</h4>
                        <div class="row">
                            <div class="col-12 col-lg-6">  
                                <p>Las reuniones en residencias particulares de más de 15 personas y cualquier evento o reunión durante el horario de toque de queda.</p>
                                <p>Las actividades con público con más asistentes que lo permitido o sin cumplir las condiciones requeridas según tipo.</p>
                                <p>El funcionamiento de Clubes de Adultos Mayores y Centros de día de Adultos Mayores.</p>
                            </div>
                            <div class="col-12 col-lg-6">
                                <p>El funcionamiento de pubs, discotecas y lugares análogos.</p>
                                <p>El traslado a comuna en Paso 2 de otra región sin posesión del Permiso (único) de Vacaciones.</p>
                              
                            </div>
                        </div>
                    </div>
                    <div class="degradado-comun">
                    <h4 class="title">¿QUÉ PUEDO HACER?</h4>
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <p><b>Todos, incluidos los mayores de 75 años, pueden salir</b>, pero no ir a lugares en cuarentena.</p>
                                <p>Debes <b>respetar el toque de queda</b>, que implica que no puedes salir entre las 22:00 y las 05:00 horas salvo que tengas un salvoconducto por emergencia médica o funeral.</p>
                                <p><b>Puedes ir a trabajar si es que trabajas en un lugar que no esté en cuarentena</b>, a no ser que sea servicio esencial, y tengas un permiso de desplazamiento colectivo o un permiso único colectivo.</p>
                                <p>Asistir a actividades presenciales de educación escolar y media, además de jardines infantiles y salas cuna.</p>
                                <p>Tener reuniones sociales en residencias particulares, o lugares públicos abiertos, con máximo 15 personas en total, y nunca en horario de toque de queda. Intenta minimizar los grupos con los que interactúas.</p>
                                <p>Asistir a restaurantes, en espacios al aire libre o cerrados con ventilación. En grupos de máximo 6 personas.</p>
                                <p>Realizar actividad deportiva. En espacios abiertos, en grupos de máximo 25 personas. En espacios cerrados y gimnasios, asistir por cohortes, y mantener siempre la distancia de 2 m. entre personas. No más de 5 personas por sala de clases. Prefiere espacios abiertos o cerrados con ventilación natural.</p>
                            </div>
                            <div class="col-12 col-lg-6">
                <p>Participar en <b>eventos o actividades con público</b> a cargo de un <b>responsable</b> y <b>NO en residencias particulares:</b></p>
<ul>
<li>Si la actividad es con <b>ubicación fija de los asistentes</b> y <b>sin consumo de alimentos</b>, pueden ser hasta 150 personas en lugares al aire libre y 75 personas en lugares cerrados. Usar mascarilla siempre.</li>
<li>Si la misma actividad considera <b>consumo de alimentos</b>, sólo pueden ser 100 personas al aire libre o 50 en lugar cerrado. Usar mascarilla mientras no se está comiendo.</li>
<li>Si la actividad <b>no considera ubicación fija de los asistentes</b>, pero <b>no hay consumo de alimentos</b>, el tope máximo simultáneo lo define que se cumpla una persona cada 4m2. Usar mascarilla siempre.</li>
<li>Si la actividad no <b>considera ubicación fija de los asistentes</b> <b>y hay consumo de alimentos</b> o no se usa mascarilla, pueden ser máximo 75 personas en espacio abierto o máximo 25 en espacio cerrado.</li>
</ul>

                                <p>Residentes de Centros SENAME pueden salir hasta 5 veces a la semana, con autorización y supervisión. También se permiten visitas de vínculos significativos y salidas con fines laborales.</p>
                                <p>Residentes de ELEAM pueden salir a caminar todos los días por máximo 2 horas, y pueden recibir visita de 2 personas, 2 veces a la semana.</p>
                                <p>Realizar traslados interregionales sólo entre localidades que estén en Paso 3, 4 y 5. En caso de ir a una comuna en Paso 2, se debe utilizar el Permiso de Vacaciones, en Comisaría Virtual. Se puede obtener una única vez por cada persona y estará disponible hasta el 31 de marzo. Requiere permanecer en el mismo destino por toda la estadía.</p>
                                <p>Cada vez que salgas, debes usar <b>mascarilla</b>, mantener la <b>distancia física</b> y recordar medidas como <b>lavado de manos</b> o uso de alcohol gel.</p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white">
                        <h4 class="title">¿QUÉ PUEDE FUNCIONAR EN MI COMUNA?</h4>
                        <div class="row">
                            <div class="col-12">
                                <p>Farmacias, supermercados y otros lugares de abastecimiento de alimentos y productos básicos, centros de salud y establecimientos de servicio público.</p>
                                <p>Comercio y otras actividades no esenciales que puedan funcionar con trabajadores que vivan en una comuna sin cuarentena.</p>
                                <p>Establecimientos de educación escolar, jardines infantiles y salas cuna.</p>
                                <p>Atención de público en restaurantes y cafés en espacios abiertos y en lugares cerrados con ventilación adecuada. Siempre con 2m. lineales entre mesas (bordes) y sin música.</p>
                                <p>Los lugares deportivos cerrados y gimnasios, con ventilación natural permanente. Los asistentes deben ingresar y salir por cohortes que no pueden interactuar entre sí. No puede haber más de 5 personas en una misma sala, y en la sala de máquinas se debe cumplir una persona cada 8m2. Siempre mantener 2 metros de distancia.</p>
                                <p>Actividades con público, respetando los aforos máximos y las condiciones de acuerdo al tipo de evento.</p>
                                <p>Todo lo que funcione, debe ser siguiendo los protocolos establecidos.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Accordion paso 4 -->
                <button class="accordion paso4-bg">
                    <div class="children">
                        <div class="paso paso4"> 
                            <span><small> Paso </small></span>
                            <span class="numero">4</span>
                        </div>
                        <h3 class="accordion-title title-paso4">Apertura Inicial</h3>
                    </div>
                </button>
                <div class="panel">
                    <div class="bg-gradient-4">
                        <h4 class="title">¿QUÉ ESTÁ PROHIBIDO EN MI COMUNA?</h4>
                        <div class="row">
                            <div class="col-12 col-lg-6">  
                            <p><b>Las reuniones en residencias particulares de más de 30 personas</b> y cualquier <b>evento o reunión durante el horario de toque de queda.</b></p>
    <p>Las actividades <b>con público con más asistentes que lo permitido</b> o sin cumplir las condiciones requeridas según el tipo.</p>
 
                            </div>
                            <div class="col-12 col-lg-6">
                                 <p>El funcionamiento de <b>pubs, discotecas y lugares análogos.</b> </p>
    <p>El <b>traslado a comuna en Paso 2</b> de otra región sin posesión del Permiso (único) de Vacaciones.</p>                             
                            </div>
                        </div>
                    </div>
                    <div class="degradado-comun">
                    <h4 class="title">¿QUÉ PUEDO HACER?</h4>
                          <div class="row">
<div class="col-12 col-lg-6">
<p><b>Todos, incluidos los mayores de 75 años, pueden salir</b>, pero no ir a lugares en cuarentena.</p>
<p>Debes <b>respetar el toque de queda</b>, que implica que no puedes salir entre las 22:00 y las 05:00 horas salvo que tengas un salvoconducto por emergencia médica o funeral.</p>
<p><b>Puedes ir a trabajar si es que el lugar de trabajo no está en una comuna en cuarentena</b>, a no ser que sea servicio esencial, y tengas un permiso de desplazamiento colectivo o un permiso único colectivo.</p>
<p><b>Asistir a actividades presenciales de educación</b> escolar y media, además de jardines infantiles y salas cuna.</p>
<p><b>Tener reuniones sociales en residencias particulares, o lugares públicos abiertos, con máximo 30 personas</b> en total, y nunca en horario de toque de queda. </p>
<p><b>Asistir a restaurantes</b>, en espacios al aire libre o cerrados con ventilación. En grupos de máximo 6 personas.</p>
<p><b>Realizar actividad deportiva</b>. En espacios abiertos, en grupos de máximo 50 personas. En espacios cerrados y gimnasios, asistir por cohortes, y mantener siempre la distancia de 2 m. entre personas. No más de 10 personas por sala de clases. Prefiere espacios abiertos o cerrados con ventilación natural. </p>   
<p><b>Realizar traslados interregionales</b> sólo entre localidades que estén en Paso 3, 4 y 5. En caso de ir a una comuna en Paso 2, se debe utilizar el <b>Permiso de Vacaciones, en Comisaría Virtual</b>. Se puede obtener una única vez por cada persona y estará disponible hasta el 31 de marzo. Requiere permanecer en el mismo destino por toda la estadía.</p>
</div>
<div class="col-12 col-lg-6">
<p>Participar en <b>eventos o actividades con público</b> a cargo de un <b>responsable</b> y <b>NO en residencias particulares:</b></p>
<ul>
    <li>Si la actividad es con <b>ubicación fija de los asistentes</b> y <b>sin consumo de alimentos</b>, pueden ser hasta 300 personas en lugares al aire libre y 150 personas en lugares cerrados. Usar mascarilla siempre.</li>
    <li>Si la misma actividad considera <b>consumo de alimentos</b>, sólo pueden ser 200 personas al aire libre o 100 en lugar cerrado. Usar mascarilla mientras no se está comiendo.</li>
    <li>Si la actividad <b>no considera ubicación fija de los asistentes</b>, pero <b>no hay consumo de alimentos</b>, el tope máximo simultáneo lo define que se cumpla una persona cada 4m2. Usar mascarilla siempre.</li>
    <li>Si la actividad <b>no considera ubicación fija de los asistentes</b> y <b>hay consumo de alimentos</b> o no se usa mascarilla, pueden ser máximo 150 personas en espacio abierto o máximo 50 en espacio cerrado.</li>
</ul>
<p><b>Residentes de Centros SENAME </b>pueden salir, con autorización y supervisión. También se permiten visitas de vínculos significativos y salidas con fines laborales y educacionales.</p>
<p><b>Residentes de ELEAM</b> pueden salir a caminar todos los días por máximo 2 horas, y pueden recibir visita de 2 personas, 2 veces a la semana.</p>

</div>
</div>
                    </div>
                    <div class="bg-white">
                        <h4 class="title">¿QUÉ PUEDE FUNCIONAR EN MI COMUNA?</h4>
                        <div class="row">
                            <div class="col-12">
                                <p><b>Farmacias, supermercados y otros lugares de abastecimiento</b> de alimentos y productos básicos, centros de salud y establecimientos de servicio público. </p>
    <p><b>Comercio y otras actividades</b> no esenciales que puedan funcionar con trabajadores que vivan en comuna sin cuarentena.</p>
    <p><b>Establecimientos de educación escolar, jardines infantiles y salas cuna.</b>  </p>
    <p>Atención de público en <b>restaurantes y cafés</b> en espacios abiertos y en lugares cerrados con ventilación adecuada. Siempre con 2m. lineales entre mesas (bordes).</p>
    <p>Los <b>lugares deportivos cerrados y gimnasios</b>, con ventilación natural permanente. Los asistentes deben ingresar y salir por cohortes que no pueden interactuar entre sí. No puede haber más de 10 personas en una misma sala, y en la sala de máquinas se debe cumplir una persona cada 8m2. Siempre mantener 2 metros de distancia. </p>
    <p><b>Actividades con público</b>, respetando los aforos máximos y las condiciones de acuerdo al tipo de evento.</p>
    <p>Centros de día y Clubes de Adulto Mayores, con máximo 30 personas, a 1 m. de distancia y siempre con mascarilla.</p>
    <p>Todo lo que funcione, debe ser siguiendo los protocolos establecidos.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Accordion paso 5 -->
          <!--      <button class="accordion paso5-bg">
                    <div class="children">
                        <div class="paso paso5"> 
                            <span><small> Paso </small></span>
                            <span class="numero">5</span>
                        </div>
                        <h3 class="accordion-title title-paso5">Apertura avanzada</h3>
                    </div>
                </button>
                <div class="panel">
                    <div class="bg-gradient-5">
                        <h4 class="title">¿QUÉ ESTÁ PROHIBIDO EN MI COMUNA?</h4>
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <p>La realización y participación de eventos, reuniones sociales y recreativas, oficios, ritos, seminarios y ceremonias con más personas de las permitidas, y cualquier evento o reunión durante el horario de toque de queda. </p>
                            </div>
                            <div class="col-12 col-lg-6">
                                
                            </div>
                        </div>
                    </div>
                    <div class="degradado-comun">
                        <h4 class="title">¿QUÉ PUEDO HACER?</h4>
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <p><b>Todos, incluidos los mayores de 75 años, pueden salir</b>, pero no ir a lugares en cuarentena.</p>
                                <p>Debes <b>respetar el toque de queda</b>, que implica que no puedes salir entre las 22:00 y las 05:00 horas salvo que tengas un salvoconducto por emergencia médica o el fallecimiento de un familiar directo, hasta que la autoridad lo modifique.</p>
                                <p><b>Puedes ir a trabajar si es que trabajas en un lugar que no esté en cuarentena</b>, a no ser que sea servicio esencial, y tengas un permiso de desplazamiento colectivo o un permiso único colectivo.</p>
                                <p>Participar en <b>eventos, reuniones sociales y recreativas</b> de hasta 100 personas en espacios cerrados y 200 en espacios abiertos, menos en horario de toque de queda.</p>
                            </div>
                            <div class="col-12 col-lg-6">
                                <p><b>Traslados interregionales</b> sólo entre localidades que estén en los Pasos 3, 4 y 5.</p>
                                <p>Realizar <b>actividad deportiva</b> y participar en deportes colectivos con máximo 100 personas en lugares abiertos y 20 en lugares cerrados, siempre a 2 metros de distancia y con horarios diferenciados.</p>
                                <p>La realización de <b>oficios, ritos, seminarios y ceremonias de hasta 2 horas</b> cumpliendo aforo de una persona cada 4m2, con máximo 400 personas en lugar abierto y 200 en lugar cerrado. Ubicación fija de los asistentes y sin consumo de alimentos.</p>
                                <p>Cada vez que salgas, debes usar <b>mascarilla</b>, mantener la <b>distancia física</b> y recordar medidas como <b>lavado de manos</b> o uso de alcohol gel.</p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white">
                        <h4 class="title">¿QUÉ PUEDE FUNCIONAR EN MI COMUNA?</h4>
                        <div class="row">
                            <div class="col-12">
                                <p>Farmacias, supermercados y otros lugares de abastecimiento de alimentos y productos básicos, centros de salud y establecimientos de servicio público. Comercio y otras actividades no esenciales que puedan funcionar con trabajadores que vivan en una comuna sin cuarentena.</p>
                                <p><b>Restaurantes, cafés, teatros, cines y lugares análogos</b> con un máximo de asistencia de 75% de su capacidad.</p>
                                <p><b>Pubs, discotecas y análogos</b> con un máximo de asistencia del 50% de su capacidad, y un tope de 100 personas en lugares cerrados y 200 personas en lugares abiertos. </p>
                                <p>Los lugares deportivos cerrados y gimnasios pueden funcionar con horarios diferidos, y no puede haber más de 20 personas en el mismo recinto, que deben estar a 2 metros de distancia. Cada sala se debe ventilar por 15 minutos cada dos horas. Las máquinas deben estar a dos metros entre ellas.</p>
                                <p>El público en actividades deportivas puede ser hasta el 50% de la capacidad del recinto, previa autorización de la Autoridad Sanitaria.</p>
                                <p>Clases presenciales en establecimientos educacionales.</p>
                                <p>Se pueden realizar <b>visitas y salidas</b> de Centros ELEAM y del SENAME, sin necesidad de permiso.</p>
                                <p>Clubes, <b>Centros de día</b> y Uniones Comunales de Adultos Mayores.</p>
                                <p>Todo lo que funcione, debe ser siguiendo los protocolos establecidos.</p>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="modo-covid-bg">
                <div class="children">
                    <div class="paso modo-covid"> 
                        <i class="fas fa-virus" aria-hidden="true"></i>
                    </div>
                    <div class="p-3">
                        <p class="lead"><b>*MODO COVID:</b> Estrategia Sanitaria permanente</p>
                        <p><b>SIEMPRE</b> debes respetar las medidas que dicte la autoridad como <b>cordones y aduanas sanitarias</b> y, si eres un caso confirmado, sospechoso o probable de coronavirus o eres contacto estrecho de un caso confirmado, debes hacer <b>cuarentena obligatoria</b> sin posibilidad de permisos, y lo mismo aplica si estás ingresando al país.</p>
                    </div>
                </div>
            </div>
        </div>


    </body>
</html>