*{
  margin: 0px;
  padding: 0px;/*
  border: 1px solid pink; */
}
  
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#nav{
  background-color: rgb(232, 114, 12);
}

.title{
  font-size: 50px;
  color: rgb(255, 255, 255);
}
.cuerpo{
  background-color: rgb(232, 114, 12);
}

#map {
  width: 100%;
  height: 450px;
}

.info-lateral {
  width: 100%;
  height: 615px;
}
.mapa{
  height: 450px;
}
.mapa-info{
  height: 150px;
}

.ubicacion{
  height: 150px;
}
.tiempo{
  height: 300px;
}
.boton{
  height: 50px;
}

.letra-caja{
  font-size: 30px !important;
}
.letra-caja-info{
  font-size: 18px !important;
}
#tiempo{
  width: 100%;
}
.tiempo-cabecera{
  width: 50%;
}
#comisaria img{
  width: 95%;
  height: 100%;
}
#datos{
  height: 100px;
}

/*Altura 100 VH*/
@media (min-width: 768px){
  .alto-100{
    height: 100vh;
  }
}
/*Estilos boton*/
a.btn{
  background-color: #f54954;
  border: none;
}
a.btn:hover, a.btn:active, a.btn:focus{
  background-color: #AC0914;
  border: none;
}
/* Typografia */
body,h1,h2,h3,h4,h5,a {font-family: 'Anton', sans-serif;}
