#map {
  width: 70%;
  height: 70%;
}
  
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.latitude{
  color: red;
}

.longitude{
  color: blue;
}